@import '../../../../general/css/globalVariables.css';

.ci-form-container {
  flex: 1; /* Allow it to grow and shrink with the container */
  max-width: 100%; /* Prevent overflow */
  min-width: 300px; /* Ensure it doesn't become too narrow */
  margin: 1%; /* Keep consistent spacing */
}

.ci-formScreen-title{
  font-size: 2.3rem;
}

.ci-form{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 3%;
  padding-top: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  
}

.ci-form-title{
  font-size: 1.3rem;
}

.ci-form-with-button-and-message-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.ci-form-input-section{
  margin-bottom: 10%;
  width: 60%;
}

.ci-label{
  margin-right: 2%;
}

.ci-form-input{
  margin-top: 7%;
}

.ci-button-and-message-section{
  width: 40%;
  margin-right: 2%;
}

.ci-form-button{
  margin-bottom: 5%;
}

.add-reset-form{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 3%;
  padding-top: 1%;
  height: 40%;
  
}


