@import '../../../general/css/globalVariables.css';

.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows content to wrap if it overflows */
  width: 100%;
  height: auto; /* Adjust height dynamically based on content */
}



.profile-menu {
  width: 15%; /* Slightly increase for better usability */
  margin-right: 5%; /* Reduce unused space */
  height: auto; /* Let it adjust dynamically */
  background-color: rgb(198, 227, 243);
}

.profile-section{
  display: flex;
  align-items: center;
  
}

.profile-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50rem;
  
}

.profile-info-inner-container{
  display: flex;
  flex-direction: row;
}

.remove-twofa-button{
  margin-left: 2%;
}