@import '../../../general/css/globalVariables.css';

.profile-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}



.profile-menu{
  width: 10%;
  height: 100%;
  margin-right: 15%;
  padding: 1%;
  background-color: rgb(198, 227, 243);
  
}

.profile-section{
  display: flex;
  align-items: center;
  
}

.profile-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profile-info-inner-container{
  display: flex;
  flex-direction: row;
}

.remove-twofa-button{
  margin-left: 2%;
}