@import '../css/globalVariables.css';


.business-footer{
  display: flex;
  flex-direction: column;
  background-color: var(--header-footer-bg-color);
  width: 100%;
  padding: 1rem;
}

.footer-logo-and-socials{
  display: flex;
  justify-content: space-between; /* Pushes logo and LinkedIn icon to opposite ends */
  width: 95%; /* Ensures the container takes the full width */
  align-items: center; /* Vertically centers the elements */
}


.footer-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%; 
}

.footer-divider {
  border-top: 3px solid rgba(155, 153, 153, 0.84);
  width: 95%;
  margin: 10px 0;  
}