:root {
  --general-background-color: #ffffff;
  --general-font: 'Serif', sans-serif;
  --general-word-color: #0f0f75;
  --general-font-size: 16px;
  --general-title-font-size: 48px;

  --header-footer-background-color: #d4d1d1;
  --header-footer-font-size: 16px;
  --header-footer-word-color: #000000;
  --header-footer-dropdown-background-color: #dddcdc;
  --header-footer-dropdown-word-color: #000000;
  --header-footer-dropdown-hover-color: #aaa7a7;

  --admin-background-color: #ffffff;
  --admin-word-color: #8484e1;
  --admin-sidebar-background-color: #096df1;
  --admin-sidebar-word-color: #000000;
  }