@import '../css/globalVariables.css';

.hero-block-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35%;
  margin: 2%;
  color: var(--general-word-color);
  font-family: var(--general-font);
}

.hero-block-info{

}

.hero-title{
  font-size: 2.8rem;
}

.hero-text{
  font-size: 1.9rem;
}

.hero-block-image{
  margin-left: 2%;
}