@import '../../../general/css/globalVariables.css';

.sidebar-container{
  background-color: var(--admin-sidebar-background-color);
  color: var(--admin-sidebar-word-color);
  font-family: var(--general-font);
}

.sidebar-title{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.sidebar{
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove any default padding */
}

.sidebar li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem; /* Adjust the space between each list item (link) */
}

.sidebar a {
  text-decoration: none; /* Optional: removes underline from links */
  color: inherit; /* Optional: inherits color from parent */
  display: block; /* Ensures links take up full width */
  padding: 0.5rem 0; /* Adjust padding to change spacing inside the links */
}


