

/* Page wrapper */
.ws-form-screen-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

/* Fix this form layout to grow vertically */
.ws-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem 0;
}

.ws-example{
  border: 1px solid black;
  padding: 1%;
  margin-bottom: 1%;
}


.ws-color-input-form {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* or however much space you want between items */
  height: 2rem;
  width: 100%; /* or a wider value if you want to control the layout */
  margin-top: 2%;
}
